/* // Remove the @use directive since Vuetify settings are already loaded
:root {
  --body-font: "Parkinsans", "Roboto", sans-serif;
  --transition: all 0.5s ease-in-out;
}

.v-application {
  [class*="text-"] {
    font-family: "Parkinsans, sans-serif" !important;
  }

  .v-card,
  .v-card-title,
  .text-h1,
  .text-h2,
  .text-h3 {
    font-family: "Parkinsans", sans-serif !important;
  }

  .v-card-subtitle,
  .v-card-text,
  .v-btn,
  .text-h4,
  .text-h5,
  .text-h6,
  .v-chip {
    font-family: "Roboto", sans-serif !important;
  }
}
 */
